name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
    - name: Install dependencies
      run: npm ci --no-audit --no-fund
    - name: Compile
      run: npm run compile
    - name: Lint
      run: npm run lint
    - name: Package VSIX
      run: npx -y @vscode/vsce package

    - name: Upload VSIX artifact
      uses: actions/upload-artifact@v4
      with:
        name: vscode-gams-vsix
        path: ./vscode-gams-*.vsix
